/* CSS Specific to Access Pages */

/**
 * Background for all access components only
 */
html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 57.81%,
    #dcd6ff 100%
  );
  background: -moz-radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 57.81%,
    #dcd6ff 100%
  );
  background: -ms-radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 57.81%,
    #dcd6ff 100%
  );
  background: -o-radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 57.81%,
    #dcd6ff 100%
  );
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 57.81%, #dcd6ff 100%);
}

/**
 * Block containing all access components
 */
.b-access {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-size: 20px;
  padding: 5px;
  z-index: 100;
}

/**
 * Logo on the Access Pages
 */
.logo-access {
  display: block;
  width: 480px;
  height: 320px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .logo-access {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
  }
}

/**
 * Forms on the Access Pages
 */
.form-access {
  width: 320px;
  margin: auto;
}

.form-access.si {
  margin-top: 20px;
}

.form-access.pf {
  margin-top: 30px;
}

/**
 * Form Inputs on the Access Pages
 */
.input-access {
  width: 100%;
  background: #ffffff;
  border: 1px solid #f2e8f8;
  border-radius: 6px;
}

/**
 * Buttons on the Access Pages
 */
.btn-access {
  display: block;
  text-align: center;
  background: #6b4eff;
  color: #ffffff;
  border: 2px solid #6b4eff;
  border-radius: 20px;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 64px;
  margin: auto;
  padding: 12px 32px;
  text-decoration: none;
}

.btn-access:visited,
.btn-access:default,
.btn-access:focus {
  background: #6b4eff;
  color: #ffffff;
  border: 2px solid #6b4eff;
  box-shadow: none;
}

.btn-access:disabled {
  opacity: 0.7 !important;
}

.btn-access.loading:disabled {
  opacity: 1 !important;
  background: #ffffff;
  color: #6b4eff;
  border: 2px solid #6b4eff;
  box-shadow: none;
  padding: 12px 32px 16px;
  text-align: center;
}

.btn-access:hover,
.btn-access:focus:hover {
  background: #6247ec;
  color: #ffffff;
  border: 2px solid #6247ec;
}

.btn-access:focus:active,
.btn-access:active {
  background: #ffffff;
  color: #6b4eff;
  border: 2px solid #6b4eff;
}

@media only screen and (max-width: 600px) {
  .form-access,
  .btn-access {
    display: block;
    height: auto;
    margin: auto;
    font-size: 4vw;
  }
  .form-access {
    width: 53.3%;
  }
}

/**
 * Tooltips on the Access Pages
 */
#tooltip-access {
  position: absolute;
  left: -7px;
  margin-left: 10px;
}

#tooltip-access > .tooltip-inner {
  background: #32208a;
  font-weight: 600;
}

#tooltip-access::after {
  position: absolute;
  left: -7px;
  top: 43%;
  content: "";
  width: 15px;
  height: 15px;
  background: #32208a;
  transform: rotate(45deg);
}

/**
 * Texts on the Access Pages
 */
.text-access {
  text-align: center;
  width: 320px;
  padding-top: 10px;
  font-size: 18px;
}

.link-access {
  color: #6b4eff;
  font-weight: bold;
}

a.link-access:hover {
  color: #472ad8;
}

@media only screen and (max-width: 600px) {
  .text-access,
  .link-access,
  .inputtxt-access {
    font-size: 3vw;
    width: 100%;
  }
}
