/* CSS Specific to Account Pages */

.display-profilepreview {
  display: block;
  min-width: 200px;
}

@media only screen and (max-width: 768px) {
  .display-profilepreview {
    display: none;
  }
}

.b-profilepreview {
  margin-right: 2vw;
}

.text-preview {
  font-size: 12px;
}

.text-preview.username {
  color: #1e1547;
  font-weight: 600;
}

.text-preview.teleuser {
  color: #685f8f;
  font-weight: 600;
}

.text-preview.descriptionheader {
  color: #1e1547;
  font-weight: 600;
}

.text-preview.description {
  color: #636363;
  font-weight: 600;
}

.accountbox {
  overflow: auto;
  height: 75vh;
  padding: 16px;
}

.accountsidebar {
  max-width: 256px;
}

.accounttext {
  font-size: 16px;
  color: #5c4374;
}

.centeredform {
  margin: auto;
}

.descriptionbox {
  max-width: 256px;
}

.profilepic {
  height: 160px;
  width: auto;
  border: 3px solid #bbbbbb;
  border-radius: 160px;
}

.previewpic {
  height: 64px;
  width: auto;
  border: 3px solid #bbbbbb;
  border-radius: 64px;
}

hr.element-overlay {
  opacity: 0.3;
  color: #000000;
}

.previewpic.element-overlay {
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.profilebio {
  text-align: center;
}

.previewtext {
  font-size: 12px;
}

.profiletext {
  font-size: 18px;
}

.profilename {
  color: #232323;
}

.profileuser {
  color: #666666;
}
