/* CSS for the entire application */

/* Home Page */

.onbpagebox {
  position: absolute !important;
  width: 50% !important;
  height: 50% !important;
  top: 0 !important;
  left: 0 !important;
}

.b-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.spacedbox {
  margin-bottom: 10px;
}
