/* CSS for the entire application */

*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Containers */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-size: 20px;
  padding: 5px;
  z-index: 100;
}

.registerbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-size: 20px;
  padding: 5px;
  z-index: 100;
}

/* Logo */

.logo {
  display: block;
  width: 480px;
  height: 320px;
  margin: auto;
}

/* Start Page Forms */

.justify-content-md-start,
.justify-content-md-end {
  max-width: 480px;
}

.startform {
  width: 320px;
  margin: auto;
}

.startform.signin {
  margin-top: 4%;
}

.startform.pwforget {
  margin-top: 12%;
}

.startlink {
  text-align: center;
  width: 320px;
  padding-top: 10px;
}

.textbox {
  width: 320px;
  background: #ffffff;
  border: 1px solid #f2e8f8;
  border-radius: 6px;
}

/* Onboarding Page Forms */

.onbheader {
  color: #121212;
  font-weight: bold;
}

.onbtext {
  color: #4e4e4e;
  font-weight: bold;
}

/* Links */

a.link {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  color: #6b4eff;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: #362491;
}

/* Buttons */

.mootbutton {
  display: block;
  text-align: center;
  background: #6b4eff;
  color: #ffffff;
  border: 2px solid #6b4eff;
  border-radius: 48px;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 320px;
  height: 64px;
  margin: auto;
  padding: 12px 32px;
  text-decoration: none;
}

/* To be replaced by suitable icons instead of buttons later on */
.mootbutton.smallbutton {
  width: 160px;
}

.mootbutton:disabled,
.mootbutton:visited,
.mootbutton:default,
.mootbutton:active,
.tobutton:active {
  background-color: #6b4eff;
  color: #ffffff;
  border: 2px solid #6b4eff;
  box-shadow: none;
}

.mootbutton:hover,
.tobutton:hover,
.mootbutton:focus:hover {
  background-color: #ffffff;
  color: #6b4eff;
  border: 2px solid #6b4eff;
}

/* Forced override since CSS likes to be stupid */
/* Look for any other solution? Problem not yet fixed... */
.btn-primary:focus {
  background-color: #6b4eff;
  color: #ffffff;
  border: 2px solid #6b4eff;
}

/* BELOW IS THE NO MAN'S ZONE, AKA have not been organised yet */

/* Temporary background changes... */
.temp {
  height: 256px;
}
#root {
  background: #eae8f5;
}
/* Temporary background changes... */

.nobullet {
  height: 72px;
  list-style-type: none;
  text-align: left;
  margin: auto;
}

.homebutton {
  margin-top: 18px;
}

.homebuttonlist {
  left: 0px;
  width: 320px;
  height: 256px;
}

.listtobutton {
  width: 320px;
  position: relative;
  top: 25%;
  text-decoration: none;
}

/* TODO Fix Nav bar */
.navbar {
  height: 10%;
  width: 100%;
  opacity: 1;
  color: #000000;
}

.navicon {
  height: 32px;
  width: 32px;
}

.inter {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

.lightheavyfont {
  color: #414141;
}

.lightfont {
  color: #4e4e4e;
}

/* General Elements */

p {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  margin: auto;
}
